{{#if is_owner}}
    {{>edit-blog }}
{{else}}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">{{title}}</h3>
            <p>Created by {{user.username}}</p>
        </div>
        <p class="card-body">{{content}}</p>
    </div>
    {{#each comments as |comment| }}
        <div class="card">
            <h3 class="card-header"> </h3>
            <div class="card-body">
                <p>{{comment.comment_content}}</p>
                <p>- {{comment.user.username}}, {{format_date date_created}}</p>
            </div>
        </div>
    {{/each}}
    {{> add-comment }}
{{/if}}





